* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EEAECA;
background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  height: 100vh;
  overflow: hidden;
}


/* écran démarrage */
.overlay {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}


.welcome {
  /* background-image: url(./image_2/r1.jpeg); */
  background-size: cover;

  position: fixed;
  inset: 0;
  background: radial-gradient(circle, #1a1a1a, #000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  z-index: 10;
  color: white;
}

.welcome h1 {
  font-size: 2.2rem;
}

.welcome p {
  opacity: 0.8;
}

#welcome button {
  padding: 16px 34px;
  border-radius: 30px;
  border: none;
  background: #22c55e;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#welcome button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(34,197,94,0.4);
}

.welcome.hidden {
  opacity: 0;
  pointer-events: none;
}





.overlay button {
  padding: 18px 36px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #22c55e;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 60px;
}


/* colonne unique */
.column {
  display: flex;
  flex-direction: column;
  gap: 40px;
  animation: scrollUp 55s linear infinite;
}

/* cards */
.card {
  width: 220px;
  height: 420px;
  border-radius: 20px;
  border: 2px solid #555;
  overflow: hidden;
  background: #222;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rotate-right { transform: rotate(8deg); }
.rotate-left { transform: rotate(-8deg); }

/* animation vers le haut */
@keyframes scrollUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}


@media (min-width: 430px) and (min-width: 430px) {
  .card {
    width: 550px !important;
    height: 800px !important;
  }
}
